@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
}

.attribution { 
	font-size: 11px; 
	text-align: center; 
}


.attribution a { 
	color: hsl(228, 45%, 44%); 
}

.header-container > img {
    width: 100%;
    height: 100vh;
}

.header-container {
	position: relative;
	display: flex;
}

.nav-head-container {
	position: absolute;
	top: 20px;
	/* background-color: aquamarine; */
	width: 100%;
	right: 0;
	bottom: 0;
	left: 0;
}

.nav-container {
	display: flex;
	justify-content: space-between;
	/* background-color: blue; */
	color: white;
	padding-right: 20px;
	padding-left: 20px;
	align-items: center;
	position: relative;
}

.mobile-menu {
	cursor: pointer;
	display: none;
}

.menu-list {
	position: absolute;
	right: 20px;
	background-color: aliceblue;
	color: black;
	padding: 10px 20px 0 20px;
	border-radius: 4px;
	display: none;
}

.menu-list p{
	cursor: pointer;
}

.menu-list p:hover {
	color:cadetblue ;
}

.nav-container a {
	color: #fff;
	margin-right: 40px;
	text-decoration: none;
    	/* padding: 8px 16px; */
	font-size:18px;
	font-family: 'Barlow', sans-serif;
	transition: all 0.25s ease-in-out 0%;
}


.nav-container a:hover {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    padding: 8px 16px;
    background: white;
    color: black;
    border-radius: 16px;
}

.nav-container h3 {
	margin: 0;
	font-family: 'Fraunces', serif;
	font-weight:700;
	font-size: 24px;
}

.heading {
	color: #fff;
	/* font-family: ; */
	text-align: center;
	margin-top: 100px;
	font-family: 'Fraunces', serif;
	font-weight: 900;
}

.arrow{
	text-align: center;
	margin-top: 60px;
}

.main {
	
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 50%);
	grid-template-rows: repeat(auto-fill, 1fr);
	grid-auto-flow: dense;
}

.transform-brand, .stand-out {
	width: 60%;
	text-align:left;
	margin: auto;
}

.transform-brand h2 {
	width: 90%;
}

.transform-brand h2 , .stand-out h2 {
    /* font-size: 18px; */
    font-weight: 700;
    font-family: 'Fraunces', serif;
}

.transform-brand p , .stand-out p {
	font-family: 'Barlow', sans-serif;
	margin-top: 30px;
	margin-bottom: 30px;
}

.transform-brand h4, .stand-out h4 {
	font-size: 18px;
    	font-family: 'Playfair Display', serif;
	font-weight: 700;
	width: 23.4%;
}

.transform-brand h4:hover {
	box-shadow: 0px 5px 0px 0px hsl(51, 100%, 49%);
	cursor: pointer;
}

.stand-out h4:hover {
	box-shadow: 0px 5px 0px 0px hsl(7, 99%, 70%);
	cursor: pointer;
}

.grid-image-2 img, .grid-image-3 img, .graphic-design img, .photography img {
	object-fit: contain;
	width: 100%;
}

.photography, .graphic-design {
	position: relative;
}

.graphic-design-text, .photography-text {
	position: absolute;
	bottom: 40px;
	margin: auto;
	width: 50%;
	right: 0;
	left: 0;
	text-align: center;
}

.graphic-design-text h4, .photography-text h4 {
    font-family: 'Fraunces', serif;
    font-weight: 600;
    font-size: 18px;	
}

.graphic-design-text h4 {
	color: hsl(167, 40%, 24%);
	
}

.photography-text h4 {
	color: hsl(198, 62%, 26%);
}

.graphic-design-text p {
	color: hsl(167, 40%, 24%);
}

.photography-text p {
	color: hsl(198, 62%, 26%);
}

.photography-text p, .graphic-design-text p {
	font-family: 'Barlow', sans-serif;
	margin-top: 30px;
}


.image-gallery {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 1fr;
	/* background-color: black; */
}

.image-gallery div {
	height: auto;
	/* width: 337px; */
	flex-shrink: 0;
	flex-grow: 0;
}

.image-gallery div img {
	object-fit: contain;
	width:100%;
}

.testimonials {
	margin-top: 120px;
	margin-bottom: 100px;
	text-align: center;
}

.testimonials h6 {
	font-size: 16px;
	font-weight: 600;
    	font-family: 'Fraunces', serif;
	color: hsl(210, 4%, 67%);
	letter-spacing: 4px;
}

.testimonial-table {
	margin-top: 60px;
	padding: 30px;
	margin-right: 100px;
	margin-left: 100px;
}

tr, td {
	/* border: 1px solid #222; */
	padding: 20px;

}

th {
    font-family: 'Fraunces', serif;
    font-weight: 600;
    font-size: 16px;
}

.client-image img {
	object-fit: contain;
	width: 100%;
	border-radius: 50%;
	height: 60px;
	width: 60px;
}

.paragraph-container {
	
}

.paragraph {
	font-size: 16px;
	font-family: 'Barlow', sans-serif;
}

.para {
	margin-top: 20px;
}

.head {
	margin-top: 30px;
}

.p {
	margin-top: -10px;
	font-size: 14px;
	color: hsl(210, 4%, 67%);
}

.footer {
	height: 300px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	background-color:hsl(167, 33%, 65%);
}

.footer-logo {
	font-family: 'Fraunces', serif;
	font-weight:700;
	font-size: 24px;
	color: hsl(167, 40%, 24%);
	/* color: hsl(168, 34%, 41%); */
	margin-top: 50px;
}

.footer-nav {
	margin-bottom: 40px;
}

.footer-nav a {
	text-decoration: none;
	color: hsl(167, 40%, 24%);
	/* color: hsl(168, 34%, 41%); */
	margin: 0 20px 0 20px;
}

.social-icons {
	color: hsl(167, 40%, 24%);
	margin-bottom: 20px;
}

.social-icons i {
	margin: 0 10px 0 10px;
}

.social-icons i:hover {
	cursor: pointer;
}


@media screen and (max-width: 768px) {

	.heading {
		text-align: center;
		justify-self: center;
		letter-spacing: 6px;
		font-size: 38px;
	}

	.mobile-menu {
		display: block;
	}

	.hide {
		display: none;
	}

	.testimonial-table{
		display: none;
	}

	.arrow {
		margin-top: 70px;
	}
}



@media screen and (max-width: 375px) {

	.heading {
		text-align: center;
		justify-self: center;
		letter-spacing: 6px;
		font-size: 38px;
	}

	.header-container > img {
		width: 100%;
		object-fit:cover;
	}

	.mobile-menu {
		display: block;
	}

	/* .menu-list {
		display: block;
	} */

	.hide {
		display: none;
	}

	.arrow {
		margin-top: 120px;
	}

	.grid-container {
		grid-template-columns: 1fr;
	}

	.transform-brand, .stand-out {
		margin: auto;
		width: 80%;
		text-align: center;
		padding: 80px 0 80px 0;
	}

	.transform-brand p, .stand-out p {
		margin: 30px 0 30px 0;
		
	}

	.transform-brand h4, .stand-out h4 {
		text-align: center;
		margin: auto;
		width: 36%;
	}

	.testimonial-table {
		display: none;
	}

	.grid-image-2 {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 2;
	}

	.transform-brand {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 3;
	}

	.graphic-design, .photography {
		grid-template-rows: 400px;
	}

	.graphic-design > img, .photography > img {
		object-fit:cover;
		height: fit-content;
		width: 100%;
		/* grid-row: 1/2; */
	}
}


